@page
@model IndexUserNotLoginModel
@{
    Layout="_LayoutUser";
}
<br><br><br><br>
    <section class="blog-post-area section-margin mt-4">
      <div class="container">
        <div class="row">
            <div class="col-lg-4 sidebar-widgets">
              <div class="widget-wrap">
                <div class="single-sidebar-widget newsletter-widget">
                  <h4 class="single-sidebar-widget__title">What Do You Want ?</h4>
                  <div class="form-group mt-30">
                    <div class="col-autos">
                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter keyword" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Enter email'">
                    </div>
                  </div>
                  <button class="bbtns d-block mt-20 w-100">Search</button>
                </div>


                <div class="single-sidebar-widget post-category-widget">
                  <h4 class="single-sidebar-widget__title">Catgory</h4>
                  <ul class="cat-list mt-20">
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>Technology</p>
                        <p>(03)</p>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>Software</p>
                        <p>(09)</p>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>Lifestyle</p>
                        <p>(12)</p>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>Shopping</p>
                        <p>(02)</p>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>Food</p>
                        <p>(10)</p>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    @{
        ViewBag.articles = ViewData["articles"];
        ViewBag.name = ViewData["name"];
        foreach(var item in ViewBag.articles)
        {
          <div class="col-lg-8">
            <div class="single-recent-blog-post">
              <div class="thumb">
                <img class="img-fluid" src="@item.image" alt="">
                <ul class="thumb-info">
                  @{
                    ViewBag.list = ViewData["list"];
                    foreach(var i in ViewBag.list)
                    {
                      if(i.Id == @item.UserId)
                      {
                        <li><a href="#"><i class="ti-user"></i>@i.UserName</a></li>
                      }
                    }
                  }
                  <li><a href="#"><i class="ti-notepad"></i>@item.created_at.Day/@item.created_at.Month/@item.created_at.Year</a></li>
                </ul>
              </div>
              <div class="details mt-20">
                <a href="/DetailNotLogin?id=@item.id">
                  <h3>@item.title</h3>
                </a>
                <p class="tag-list-inline">Tag: <a href="#">travel</a>, <a href="#">life style</a>, <a href="#">technology</a>, <a href="#">fashion</a></p>
                <p>@item.detail</p>
                <a class="button" style="color: white;" id="delete" onclick="window.location.href='/Detail?id=@item.id'">Read More <i class="ti-arrow-right"></i></a>
              </div>
            </div>
            </div>
            <div class="col-lg-4 sidebar-widgets">
              <div class="widget-wrap">
              </div></div>
        }
    }
        </div>
    </div>
</section>
